node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#modals
**/local_spam_model/
src/python/ml/spam-detection/local_spam_model/
**/local_text_summarizer_model/
**/multilingual_sentiment_model/
**/modelweth.h5
**/additional_data_weth.pkl
**/blip_image_caption_model/
**/local_image_analyzer_model/
